<div style="padding:15px" class="column">


    <div class="widget">

        <h1 style="text-align:center" class="post-title">Message from Vice Principal</h1>
        <div class="divider">&nbsp;</div>


        <div class="the-excerpt">


            <p style="text-align: justify;">
            </p><p style="text-align: justify;">It gives us immense pleasure to declare that Carmichael College has entered into a new horizon of digital Bangladesh. This College a part of history and tradition has unveiled the screen not only of the website but also a college Management information. Now all information about administration, examination, academic activities, games and sports and teachers will be available in our website. Our aim is to ensure current information regarding our college. I believe that a dynamic, transparent and efficient education management information system will be developed farther by using this automation. All the Departments of this college already arranged some multimedia class rooms. I make it sure that all the classes will be taken by using multimedia within the shortest possible time. Let us sacrifice our all comforts for the welfare of our student, college and country. I firmly believe that this automation system will help our college to move forward in all respect. I convey my heartfelt thanks to all who have spent their valuable time and efforts to run this system.</p>
            <p style="text-align: right;">
                <strong>
                    <span style="color: #800000;">
                        Professor Dr. Md. Amzad Hossain<br>
                    </span>
                </strong>
            </p>



        </div>
        <div class="divider">&nbsp;</div>

        <h1 style="text-align:center" class="post-title">Life Sketch of Vice Principal</h1>

        <div style="margin-left:170px" class="post-content">

            <h3 style="font-weight:bold">04.Subject:Social Welfare</h3>
            <table border="1" width="1000" class="newspaper-n">
                <tbody>
                    <tr style="text-align: left;">
                        <td align="left">01.</td>
                        <td style="text-align: left;">Name</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">
                            <strong>
                                PROFESSOR Dr. Md. Amzad Hossain<br>
                            </strong>
                        </td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">02.</td>
                        <td style="text-align: left;">ID No.</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">&nbsp;10318</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">03.</td>
                        <td style="text-align: left;">Designation</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">Vice Principal</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">04.</td>
                        <td style="text-align: left;">Subject</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">&nbsp;Social Welfare</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">05.</td>
                        <td style="text-align: left;">Date of Birth</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">&nbsp;24-12-1964</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">06.</td>
                        <td style="text-align: left;">Father’s Name</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">&nbsp;Md. Shafiuddin Mallick</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">07.</td>
                        <td style="text-align: left;">Mother’s Name</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">&nbsp;Asma Khatun</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">08.</td>
                        <td style="text-align: left;">Spouse</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">&nbsp; Sabiha Sultana</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">09.</td>
                        <td style="text-align: left;">Number of Children</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">&nbsp;02</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">10.</td>
                        <td style="text-align: left;">Home District</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">Pabna</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">11.</td>
                        <td style="text-align: left;">Permanent Address</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">Vill. Charmirkamari, Post-&nbsp; Joynagor, Upazill-Ishwardi</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">12.</td>
                        <td style="text-align: left;">Present Address</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">Carmichael College, Rangpur</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">13.</td>
                        <td style="text-align: left;">Contact No.</td>
                        <td style="text-align: center;">:</td>
                        <td style="text-align: left;">&nbsp;01712500726</td>
                    </tr>
                </tbody>
            </table>
            <p style="font-weight:bold">&nbsp;</p>
            <p><span style="font-weight:bold"">14. Educational Qualifications :</span></p>
            <table border="1" width="1000" class="newspaper-n" style="height: 243px;" width="699">
                <tbody>
                    <tr style="text-align: left;">
                        <td align="center" width="20px"><strong><strong>SL</strong></strong></td>
                        <td align="center" width="140px"><strong><strong>Examinations</strong></strong></td>
                        <td align="center" width="60px"><strong><strong>Exam. Year</strong></strong></td>
                        <td align="center" width="100px"><strong><strong>Division/Class</strong></strong></td>
                        <td align="center" width="140px"><strong><strong>Board/University</strong></strong></td>
                        <td align="center" width="80px"><strong><strong>Remarks</strong></strong></td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">01.</td>
                        <td style="text-align: left;">SSC</td>
                        <td style="text-align: center;">&nbsp;1980</td>
                        <td style="text-align: center;">1st</td>
                        <td style="text-align: left;">&nbsp;Rajshahi Board</td>
                        <td style="text-align: left;">&nbsp;Humanities Group</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">02.</td>
                        <td style="text-align: left;">HSC</td>
                        <td style="text-align: center;">1982</td>
                        <td style="text-align: center;">
                            1st<p></p>
                            <p>( 9th Place in R.B)</p>
                        </td>
                        <td style="text-align: left;">&nbsp;Rajshahi Board</td>
                        <td style="text-align: left;">&nbsp;Humanities Group</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">03.</td>
                        <td style="text-align: left;">B. A Honours</td>
                        <td style="text-align: center;">1985</td>
                        <td style="text-align: center;">Upper 2nd</td>
                        <td style="text-align: left;">&nbsp;Rajshahi <strong>University</strong></td>
                        <td style="text-align: left;">&nbsp;Social Work</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left">04.</td>
                        <td style="text-align: left;">M.A</td>
                        <td style="text-align: center;">1986</td>
                        <td style="text-align: center;">Upper 2nd</td>
                        <td style="text-align: left;">&nbsp;Rajshahi <strong>University</strong></td>
                        <td style="text-align: left;">&nbsp;Social Work</td>
                    </tr>
                </tbody>
            </table>
            <p><span style="font-weight:bold">15. Appointment &amp; Promotion :</span></p>
            <table border="1" width="1000" class="newspaper-n">
                <tbody>
                    <tr style="text-align: left;">
                        <td align="left" width="30px"></td>
                        <td align="left" width="25px">(i)</td>
                        <td style="text-align: left;" width="150px">As Lecturer</td>
                        <td style="text-align: center;" width="5px">:</td>
                        <td style="text-align: left;">&nbsp;25-11-1993</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left" width="30px"></td>
                        <td align="left" width="25px">(ii)</td>
                        <td style="text-align: left;" width="150px">As Assistant Professor</td>
                        <td style="text-align: center;" width="5px">:</td>
                        <td style="text-align: left;">&nbsp;30-01-2002</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left" width="30px"></td>
                        <td align="left" width="25px">(iii)</td>
                        <td style="text-align: left;" width="150px">As Associate Professor</td>
                        <td style="text-align: center;" width="5px">:</td>
                        <td style="text-align: left;">&nbsp;29-11-2005</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left" width="30px"></td>
                        <td align="left" width="25px">(iv)</td>
                        <td style="text-align: left;" width="150px">As Professor</td>
                        <td style="text-align: center;" width="5px">:</td>
                        <td style="text-align: left;">&nbsp;14-10-2014</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td align="left" width="30px"></td>
                        <td align="left" width="25px">(iv)</td>
                        <td style="text-align: left;" width="150px">As Vice Principal</td>
                        <td style="text-align: center;" width="5px">:</td>
                        <td style="text-align: left;">&nbsp;07-03-2016</td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <table border="1" width="1000" class="newspaper-n">
                <tbody>
                    <tr style="text-align: left;">
                        <td align="left" width="20px">16.</td>
                        <td style="text-align: left;" width="196px">Experience</td>
                        <td style="text-align: center;" width="5px">:</td>
                        <td style="text-align: left;"></td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <p><span style="font-weight:bold">17. Employment Record :</span></p>
            <table border="1" width="1000" class="newspaper-n">
                <tbody>
                    <tr>
                        <td style="text-align: center;" rowspan="2" width="20px"><strong>SL</strong></td>
                        <td style="text-align: center;" rowspan="2" width="150px"><strong>Name of Post</strong></td>
                        <td style="text-align: center;" rowspan="2" width="280px"><strong>Name of Institutions</strong></td>
                        <td style="text-align: center;" rowspan="2" width="100px"><strong>Type of Appointment</strong></td>
                        <td style="text-align: center;" colspan="2" width="110px"><strong>Working Period</strong></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;" width="60px"><strong>Start</strong></td>
                        <td style="text-align: center;" width="60px"><strong>End</strong></td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">01.</td>
                        <td align="left">Lecturer</td>
                        <td align="left">&nbsp;Nawab Foyzunnesa Govt. College, Kumilla</td>
                        <td align="center">1st Appt.</td>
                        <td style="text-align: center;">25-11-1993</td>
                        <td style="text-align: center;">08-08-1996</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">02.</td>
                        <td align="left">Lecturer</td>
                        <td align="left">&nbsp;Tongi Govt. College, Gazipur</td>
                        <td align="center">Transfer</td>
                        <td style="text-align: center;">10-08-1996</td>
                        <td style="text-align: center;">18-07-1998</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">03.</td>
                        <td align="left">Assistant Professor</td>
                        <td align="left">&nbsp;Fazilatunnesa Mohila College, Bhola</td>
                        <td align="center">Promotion</td>
                        <td style="text-align: center;">&nbsp;30-01-2002</td>
                        <td style="text-align: center;">12-02-2002</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">04.</td>
                        <td align="left">Assistant Professor (AMDS)</td>
                        <td align="left">&nbsp;HSTTI, Rajshahi</td>
                        <td align="center">Transfer</td>
                        <td style="text-align: center;">14-02-2002</td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">05.</td>
                        <td align="left">Assistant Professor</td>
                        <td align="left">&nbsp;Rajshahi College Rajshahi</td>
                        <td align="center">Transfer</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">27-11-2005</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">06.</td>
                        <td align="left">Associate Professor</td>
                        <td align="left">&nbsp;Narayanganj Mohila College</td>
                        <td align="center">Promotion</td>
                        <td style="text-align: center;">&nbsp;29-11-2005</td>
                        <td style="text-align: center;">14-11-2005</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">07.</td>
                        <td align="left">Associate Professor</td>
                        <td align="left"></td>
                        <td align="center">Transfer</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">08.</td>
                        <td align="left">Associate Professor</td>
                        <td align="left"></td>
                        <td align="center">Transfer</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">09.</td>
                        <td align="left">Associate Professor</td>
                        <td align="left"></td>
                        <td align="center">Transfer</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">10.</td>
                        <td align="left">Professor</td>
                        <td align="left">&nbsp;DSHE, Dhaka (OSD)</td>
                        <td align="center">Promotion</td>
                        <td style="text-align: center;">&nbsp;14-11-2005</td>
                        <td style="text-align: center;">06-03-2016</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">11.</td>
                        <td align="left">Vice Principal</td>
                        <td align="left">&nbsp;Kushtia Govt. College</td>
                        <td align="center">By Appointment</td>
                        <td style="text-align: center;">07-03-2016</td>
                        <td style="text-align: center;">09-06-2018</td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">12.</td>
                        <td align="left">Vice Principal</td>
                        <td align="left">&nbsp;CarmiChael College</td>
                        <td align="center">By Appointment</td>
                        <td style="text-align: center;">10-06-2018</td>
                        <td style="text-align: center;">
                            <span style="color: #800080;">
                                Continuing<br>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <p><span style="font-weight:bold">18. Training :</span></p>
            <table border="1" width="1000" class="newspaper-n">
                <tbody>
                    <tr>
                        <td style="text-align: center;" rowspan="2" width="20px"><strong>SL</strong></td>
                        <td style="text-align: center;" rowspan="2" width="200px"><strong>Course Title</strong></td>
                        <td style="text-align: center;" rowspan="2" width="100px"><strong>Institutions</strong></td>
                        <td style="text-align: center;" rowspan="2" width="100px"><strong>Location</strong></td>
                        <td style="text-align: center;" colspan="2" width="140px"><strong>Period</strong></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;" width="60px"><strong>Start</strong></td>
                        <td style="text-align: center;" width="60px"><strong>End</strong></td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">01.</td>
                        <td align="left">&nbsp;Summer Science</td>
                        <td align="center">Rajshahi <strong>University</strong></td>
                        <td align="center">Rajshahi <strong>University</strong></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">02.</td>
                        <td align="left">&nbsp;Foundation</td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">03.</td>
                        <td align="left"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="text-align: center;">04.</td>
                        <td align="left"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                </tbody>
            </table>


            <div class="cleaner">&nbsp;</div>


        </div><!-- end .post-content -->



    </div><!-- end .widget -->

    <div class="cleaner">&nbsp;</div>

</div>