
@{
    ViewData["Title"] = "Department";
}

<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <div class=" mid">
        <style>
       


            h1 {
                font-size: 40px;
                text-align: center;
                padding: 30px;
                color: blue;
                font-family: fantasy;
                background-color: rgb(255, 255, 255, .1);
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                border-bottom: 1px solid red;
            }

            li {
                float: left;
            }

                li a {
                    display: block;
                    color: black;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

                    li a:hover {
                        background-color: rgb(255, 255, 255);
                    }

            }

            .mid {
                margin-top: 50px;
                margin-left: 200px;
            }

        </style>
        <center><h2> Department</h2></center>
        <div style="margin-left:200px">
        <ol type="A">

            <li>	Faculty of Arts</li>
            <br>
            <li>   Faculty of Business Studies</li>
            <br>
            <li>  Faculty of Biological Science</li>
            <br>
            <li>Faculty of Engineering and Technology</li>
            <br>
            <li> Faculty of Education</li>
            <br>
            <li>  Faculty of Fine Arts</li>
            <br>
            <li> Faculty of Law</li>
            <br>
            <li /> Faculty of Medicine</li>
            <br>
            <li>Faculty of Pharmacy</li>
            <br>
            <li> Faculty of Science</li>
            <br>
            <li> Faculty of Social Sciences</li>
            <br>
            <li> Faculty of Earth and Environmental Sciences</li>
            <br>
        </ol>
        </div>
    </div>
</body>