<div class="widget-0 widget wpzoom" id="wpzoom-widget-feat-category-2">


    <h2><span style="color: #003366">
        <p style="font-size:27px">Welcome to Carmichael College Rangpur</p></span></h2>

    <div class="featured-category-widget">
        <style>
            p{
                display: block;
                text-align:center;
                font-size:14px;
                line-height:23px;

                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
           
        </style>
          <p style="text-align: justify;" align="justify">
            <a href="http://en.wikipedia.org/wiki/Carmichael_College" target="_blank"><b>Carmichael College, Rangpur</b></a> is a part of heritage and history of Uttar Bongo (northern Bangladesh). It is indeed one of the oldest and best colleges in the country.<br>
            No other college in the country can boast of so beautiful a campus as Carmichael College. It is situated on 900 bighas of land. So far, it is the biggest college in area wise in the country. There are a number of magnificent buildings in the college. These buildings are as old as the college itself. To enhance the opportunity of higher education in Rangpur region with the initiative of local Zamindars (landlords) including Gopal Lal Roy Bahadur, Mohimaranjan Roy, Babu Monidra Chandra Roy and the local people, this college was established at Lalbag, 4 km to the south from zero point of the town. The then first Governor of Bengal Lord <a href="http://en.wikipedia.org/wiki/Thomas_Gibson-Carmichael,_1st_Baron_Carmichael" target="_blank"><b>Thomas David Gibson-Carmichael</b></a> formally inaugurated the college in 1916. Therefore, the college was named after him.  <a href="http://ccr.gov.bd/welcome-to-ccr-rajshahi#more-18" class="more-link">(more…)</a>
        </p>
        <div class="cleaner">&nbsp;</div>
    </div>


</div>