<div class="widget">
    <h1 style="text-align:center"class="post-title">Honors Result</h1>

    <div class="divider">&nbsp;</div>

    <div style="margin-left:200px" class="post-content">


        <style type="text/css">
            tr:nth-child(odd) {
                background: #ECF3F8;
            }

            tr:hover {
                background: #BEBEBE;
            }
        </style>
        <div>
            <srong><span style="color: #800080;"><b><b>Honours Final Examinations Results :</b></b></span></srong>
        </div>
        <table class="table_one">
            <tbody>
                <tr>
                    <th style="text-align: center;" width="20px"><strong>SL</strong></th>
                    <th style="text-align: center;" width="80px"><strong>Year of Exam</strong></th>
                    <th style="text-align: center;" width="60px"><strong>Total Seat</strong></th>
                    <th style="text-align: center;" width="50px">
                        <strong>
                            Total<br>
                            Examinees
                        </strong>
                    </th>
                    <th style="text-align: center;" width="50px"><strong>1st Class</strong></th>
                    <th style="text-align: center;" width="50px"><strong>2nd Class</strong></th>
                    <th style="text-align: center;" width="50px"><strong>3rd Class</strong></th>
                    <th style="text-align: center;" width="50px">
                        <strong>Pass</strong>
                    </th>
                    <th style="text-align: center;" width="50px"><strong>Total Pass</strong></th>
                    <th style="text-align: center;" width="50px"><strong>Fail</strong></th>
                    <th style="text-align: center;" width="50px"><strong>Others</strong></th>
                    <th style="text-align: center;" width="50px"><strong>% Pass</strong></th>
                    <th style="text-align: center;" width="70px">
                        <strong>
                            Download<br>
                            Details
                        </strong>
                    </th>
                </tr>
                <tr style="text-align: center;">
                    <td>01.</td>
                    <td style="text-align: center;">2011</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">2905</td>
                    <td style="text-align: center;">325</td>
                    <td style="text-align: center;">2343</td>
                    <td style="text-align: center;">97</td>
                    <td style="text-align: center;">34</td>
                    <td style="text-align: center;">2799</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">40</span></td>
                    <td style="text-align: center;">66</td>
                    <td style="text-align: center;">96.4</td>
                    <td style="text-align: center;"><a href="http://ccr.gov.bd/wp-content/uploads/2014/12/Res_Hons_CCR_2011.xlsx" target="_blank"><em>Download</em></a></td>
                </tr>
                <tr style="text-align: center;">
                    <td>02.</td>
                    <td style="text-align: center;">2010</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"><span style="color: #ff0000;"></span></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                </tr>
                <tr style="text-align: center;">
                    <td>03.</td>
                    <td style="text-align: center;">2009</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"><span style="color: #ff0000;"></span></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                </tr>
                <tr style="text-align: center;">
                    <td>04.</td>
                    <td style="text-align: center;">2008</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"><span style="color: #ff0000;"></span></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                </tr>
                <tr style="text-align: center;">
                    <td>05.</td>
                    <td style="text-align: center;">2007</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <div>
            <srong><span style="color: #800080;"><b><b>Subject wise detail Honours Final Year Examinations Result-2011:</b></b></span></srong>
        </div>
        <table class="table_one">
            <tbody>
                <tr>
                    <th style="text-align: center;" width="20px"><strong>SL</strong></th>
                    <th style="text-align: center;" width="140px"><strong>Subject</strong></th>
                    <th style="text-align: center;" width="60px"><strong>Total Seat</strong></th>
                    <th style="text-align: center;" width="50px">
                        <strong>
                            Total<br>
                            Examinees
                        </strong>
                    </th>
                    <th style="text-align: center;" width="50px"><strong>1st Class</strong></th>
                    <th style="text-align: center;" width="50px"><strong>2nd Class</strong></th>
                    <th style="text-align: center;" width="50px"><strong>3rd Class</strong></th>
                    <th style="text-align: center;" width="50px">
                        <strong>Pass Degree</strong>
                    </th>
                    <th style="text-align: center;" width="50px"><strong>Total Pass</strong></th>
                    <th style="text-align: center;" width="50px"><strong>Fail</strong></th>
                    <th style="text-align: center;" width="50px"><strong>Others</strong></th>
                    <th style="text-align: center;" width="50px"><strong>% Pass</strong></th>
                </tr>
                <tr style="text-align: center;">
                    <td>01.</td>
                    <td style="text-align: left;">Bengali</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">235</td>
                    <td style="text-align: center;">4</td>
                    <td style="text-align: center;">216</td>
                    <td style="text-align: center;">5</td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">228</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">2</span></td>
                    <td style="text-align: center;">5</td>
                    <td style="text-align: center;">97.0</td>
                </tr>
                <tr style="text-align: center;">
                    <td>02.</td>
                    <td style="text-align: left;">English</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">228</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">166</td>
                    <td style="text-align: center;">35</td>
                    <td style="text-align: center;">1</td>
                    <td style="text-align: center;">202</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">6</span></td>
                    <td style="text-align: center;">20</td>
                    <td style="text-align: center;">88.6</td>
                </tr>
                <tr style="text-align: center;">
                    <td>03.</td>
                    <td style="text-align: left;">Islamic Studies</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">102</td>
                    <td style="text-align: center;">48</td>
                    <td style="text-align: center;">52</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">1</td>
                    <td style="text-align: center;">101</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">1</span></td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">99.0</td>
                </tr>
                <tr style="text-align: center;">
                    <td>04.</td>
                    <td style="text-align: left;">History</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">204</td>
                    <td style="text-align: center;">2</td>
                    <td style="text-align: center;">191</td>
                    <td style="text-align: center;">5</td>
                    <td style="text-align: center;">2</td>
                    <td style="text-align: center;">200</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">1</span></td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">98.0</td>
                </tr>
                <tr style="text-align: center;">
                    <td>05.</td>
                    <td style="text-align: left;">Islamic History &amp; Culture</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">232</td>
                    <td style="text-align: center;">2</td>
                    <td style="text-align: center;">221</td>
                    <td style="text-align: center;">4</td>
                    <td style="text-align: center;">4</td>
                    <td style="text-align: center;">231</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">Nill</span></td>
                    <td style="text-align: center;">1</td>
                    <td style="text-align: center;">99.6</td>
                </tr>
                <tr style="text-align: center;">
                    <td>06.</td>
                    <td style="text-align: left;">Philosophy</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">194</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">185</td>
                    <td style="text-align: center;">4</td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">192</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">1</span></td>
                    <td style="text-align: center;">1</td>
                    <td style="text-align: center;">99.0</td>
                </tr>
                <tr style="text-align: center;">
                    <td>07.</td>
                    <td style="text-align: left;">Political Science</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">266</td>
                    <td style="text-align: center;">5</td>
                    <td style="text-align: center;">253</td>
                    <td style="text-align: center;">4</td>
                    <td style="text-align: center;">1</td>
                    <td style="text-align: center;">263</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">1</span></td>
                    <td style="text-align: center;">2</td>
                    <td style="text-align: center;">98.9</td>
                </tr>
                <tr style="text-align: center;">
                    <td>08.</td>
                    <td style="text-align: left;">Economics</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">242</td>
                    <td style="text-align: center;">16</td>
                    <td style="text-align: center;">215</td>
                    <td style="text-align: center;">5</td>
                    <td style="text-align: center;">2</td>
                    <td style="text-align: center;">238</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">2</span></td>
                    <td style="text-align: center;">2</td>
                    <td style="text-align: center;">98.3</td>
                </tr>
                <tr style="text-align: center;">
                    <td>09.</td>
                    <td style="text-align: left;">Accounting</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">277</td>
                    <td style="text-align: center;">73</td>
                    <td style="text-align: center;">194</td>
                    <td style="text-align: center;">4</td>
                    <td style="text-align: center;">1</td>
                    <td style="text-align: center;">272</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">3</span></td>
                    <td style="text-align: center;">2</td>
                    <td style="text-align: center;">98.2</td>
                </tr>
                <tr style="text-align: center;">
                    <td>10.</td>
                    <td style="text-align: left;">Management</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">262</td>
                    <td style="text-align: center;">28</td>
                    <td style="text-align: center;">224</td>
                    <td style="text-align: center;">5</td>
                    <td style="text-align: center;">1</td>
                    <td style="text-align: center;">258</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">Nill</span></td>
                    <td style="text-align: center;">4</td>
                    <td style="text-align: center;">98.5</td>
                </tr>
                <tr style="text-align: center;">
                    <td>11.</td>
                    <td style="text-align: left;">Physics</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">98</td>
                    <td style="text-align: center;">19</td>
                    <td style="text-align: center;">53</td>
                    <td style="text-align: center;">8</td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">83</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">3</span></td>
                    <td style="text-align: center;">12</td>
                    <td style="text-align: center;">84.7</td>
                </tr>
                <tr style="text-align: center;">
                    <td>12.</td>
                    <td style="text-align: left;">Chemistry</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">108</td>
                    <td style="text-align: center;">19</td>
                    <td style="text-align: center;">75</td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">100</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">7</span></td>
                    <td style="text-align: center;">1</td>
                    <td style="text-align: center;">92.6</td>
                </tr>
                <tr style="text-align: center;">
                    <td>13.</td>
                    <td style="text-align: left;">Botany</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">146</td>
                    <td style="text-align: center;">19</td>
                    <td style="text-align: center;">107</td>
                    <td style="text-align: center;">7</td>
                    <td style="text-align: center;">5</td>
                    <td style="text-align: center;">138</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">3</span></td>
                    <td style="text-align: center;">5</td>
                    <td style="text-align: center;">94.5</td>
                </tr>
                <tr style="text-align: center;">
                    <td>14.</td>
                    <td style="text-align: left;">Zoology</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">144</td>
                    <td style="text-align: center;">36</td>
                    <td style="text-align: center;">100</td>
                    <td style="text-align: center;">2</td>
                    <td style="text-align: center;">1</td>
                    <td style="text-align: center;">139</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">2</span></td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">96.5</td>
                </tr>
                <tr style="text-align: center;">
                    <td>15.</td>
                    <td style="text-align: left;">Mathematics</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;">167</td>
                    <td style="text-align: center;">54</td>
                    <td style="text-align: center;">91</td>
                    <td style="text-align: center;">6</td>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;">154</td>
                    <td style="text-align: center;"><span style="color: #ff0000;">8</span></td>
                    <td style="text-align: center;">5</td>
                    <td style="text-align: center;">92.2</td>
                </tr>
                <tr style="text-align: center;">
                    <td></td>
                    <td style="text-align: right;"><b>Total =</b></td>
                    <td style="text-align: center;"><b></b></td>
                    <td style="text-align: center;"><b>2905</b></td>
                    <td style="text-align: center;"><b>325</b></td>
                    <td style="text-align: center;"><b>2343</b></td>
                    <td style="text-align: center;"><b>97</b></td>
                    <td style="text-align: center;"><b>34</b></td>
                    <td style="text-align: center;"><b>2799</b></td>
                    <td style="text-align: center;"><span style="color: #ff0000;"><b>40</b></span></td>
                    <td style="text-align: center;"><b>66</b></td>
                    <td style="text-align: center;"><b>96.4</b></td>
                </tr>
            </tbody>
        </table>



    </div><!-- end .post-content -->
    <div class="cleaner">&nbsp;</div>
</div>